RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ecoles/ /actions/ [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^blog/ / [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^secrets-de-champions/ / [R=301,L]

RewriteRule ^([^/]+)/$ $1.html
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]